@font-face {
  font-family: IRANSans;
  src: url(../font/FontsFree-Net-ir_sans\ \(1\).ttf);
}

* {
  font-family: IRANSans;
}


a{
    text-decoration: none;
}
.Parent-menu{
    height: 58px;
    display: flex;
    background-color: #E8E8E8;
}

.Parent-menu-number{
    display: flex;
    flex-basis: 85%;
    padding-top: 20px;
    padding-left: 20%;
}

.Parent-menu-number{
    display: flex;
    justify-content: space-around;
}

.Parent-menu-search{
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    padding-top: 20px;
}

.Parent-menu-one{
    display: inherit;
    flex-direction: column;
}

.Parent-menu-one img{
    width: 10px;
    transform: rotate(269deg);
    padding: 0 20px;
}

.Parent-Main-page{
    background-color: #EFF0F2;
    color: aliceblue;
    height: 1000px;
    padding: 68px 80px;
}

.Parent-Element{
    display: flex;
}

.Parent-Main-left{
    display: flex;
    flex-basis: 70%;
    background-color: #fff;
    color: #000;
    height: 140px;
}

.Parent-Main-left img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    right: 25px;
}

.Parent-Main-left-text{
    padding-right: 50px;
}

.Parent-Main-right{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

#Parent-img{
    height: 80px;
    padding: 22px 63px 22px 0
}

.Parent-left-part{
    display: flex;
}

.Parent-left-part img{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    /* padding-top: 50px; */
    padding-right: 12px;
}

h3{
  font-size: 15px;
  position: relative;
  margin-right: 20px;
}

h3:before {
    content: "";
    display: block;
    width: 230px;
    height: 0.5px;
    background: #000;
    margin: auto 130px;
    right: 0;
    top: 52%; 
    position: absolute;
  }

  .Parent-number-page{
    color: #000;
    display: flex;
  }

  .Parent-number-page p{
    padding: 0 17px;
    background: #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }

  .Footer{
    display: flex;
    padding: 40px 0;
    background: #000;
  }

  .Footer-title{
    display: flex;
    flex-basis: 80%;
    justify-content: space-around;
    color: #fff;
  }

  .Footer-image{
    background: #000;
    display: flex;
    flex-basis: 20%;
    
  }

  .Footer-image img{
    width: 79%;
    height: 98px;
    padding-top: 50px;
  }

  .Parent-Main-left{
    background: #fff;
    padding: 15px 0;
  }

  .Parent-Main-left-part{
    margin-right: 20px;
  }

  .Parent-Main-left-tow{
    background: #eee;
    padding: 10px 0;
  }

  .Parent-Main-right{
    background: #fff;
    color: #000;
    font-size: 20px;
  }

  .Parent-Main-left:hover{
    background-color: #FCFBED;
  }

  #text{
    font-size: 10px;
    color: #ccc;
    margin: 0 auto;
  }

  #text_tow{
    font-size: 12px;
    margin: 0 auto;
  }