a{
    text-decoration: none;
}
.Parent-menu{
    height: 80px;
    display: flex;
    background-color: #ccc;
}

.Parent-menu-number{
    display: flex;
    flex-basis: 85%;
    padding-top: 20px;
}

.Parent-menu-number{
    display: flex;
    justify-content: space-around;
}

.Parent-menu-search{
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    padding-top: 20px;
}

.Parent-menu-one{
    display: inherit;
    flex-direction: column;
}

.Parent-menu-one img{
    width: 42px;
    transform: rotate(269deg);
}

.Parent-Main-page{
    background-color: #eee;
    color: aliceblue;
    height: 1000px;
}

.Parent-Element{
    display: flex;
}

.Parent-Main-left{
    display: flex;
    flex-basis: 80%;
    background-color: #fff;
    color: #000;
}

.Parent-Main-left-text{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.Parent-Main-right{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #ccc;
}

#Parent-img{
    padding: 22px 0 22px 0;
}

.Parent-left-part{
    display: flex;
}

.Parent-part-text{
    display: flex;
    flex-direction: column;
}

h3:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 3%;
    top: 40%;
    position: absolute;
  }

  .Parent-number-page{
    color: #000;
    display: flex;
  }

  .Footer{
    display: flex;
  }

  .Footer-title{
    display: flex;
    flex-basis: 80%;
    justify-content: space-around;
    background: #333;
    color: #fff;
  }

  .Footer-image{
    background: #000;
    display: flex;
    flex-basis: 20%;
  }
